:root {
  background-color: black;
  outline-color: white;
}
:root:hover {
  background-color: darken(gray, 75%);
}

.flex-container {
  display: flex;
  justify-content: center;
}

.leavetitle {
  padding-top: 10px;
  margin-bottom: 2px;
  color: white;
  text-shadow: true;
}

.leavebutton {
  padding: 4px;
  color: white;
  text-shadow: true;
}

/* Numpad properties */
[numpad] {
  padding: 4px;
  margin: 2px;
  scale: 1.25;
}
.code-output {
  color: white;
  scale: 1.5;
}